* {
	box-sizing: border-box;
}

nav {
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
  }
  
  .menu-icon {
	display: none;
  }
  
  .menu {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .menu li {
	margin-right: 20px;
  }
  
  .menu li:last-child {
	margin-right: 0;
  }
  
  .menu li.contact {
	margin-left: auto;
  }
  
  .menu li.contact a {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 10px;
	background-color: #fff;
	color: #333;
	border-radius: 5px;
  }
  
  .menu li.contact a i {
	margin-right: 5px;
	font-size: 18px;
  }
  
  @media (max-width: 768px) {
	.menu-icon {
	  display: block;
	}
	.menu {
	  display: none;
	  flex-direction: column;
	  position: absolute;
	  top: 50px;
	  left: 0;
	  width: 100%;
	  background-color: #333;
	  padding: 10px;
	}
	.menu li {
	  margin: 10px 0;
	}
	.menu li.contact {
	  margin: 20px 0 0 0;
	}
	.menu li.contact a {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  padding: 10px;
	  text-align: center;
	  background-color: #fff;
	  color: #333;
	  border-radius: 5px;
	}
  }
  
/* Style the form container */
#vehicle-search-form {
	margin: 20px auto;
	max-width: 600px;
	padding: 20px;
	background-color: transparent;
	border: 1px solid #ccc;
	border-radius: 5px;
  }
  
  /* Style the form inputs */
  label, input, select {
	display: block;
	margin-bottom: 10px;
  }
  
  label {
	font-weight: bold;
  }
  
  input[type="date"], input[type="time"], select {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 16px;
  }
  
  input[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
  }
  
  input[type="submit"]:hover {
	background-color: #3e8e41;
  }
  